
.container{
    margin-bottom: 100px;
}


.orange-background{
    background-color: #fceae8;
    border-radius: 5px;
}

.carousel-item{
    padding:10px 50px;
}

.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom ,#ff5898 0%, #ff136f);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 7px;
}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 7px;
}
.cat3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 7px;
    
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}







